#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386d5;
    color: #fff;
    transition: all 0.3s;
  }
  
  #sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
  }
  
  #sidebar ul.components {
    border-bottom: 1px solid #47748b;
  }
  
  .list-unstyled {
    padding-left: 0;
    list-style: none;
  }
  
  #sidebar ul p {
    color: #fff;
    padding: 10px;
  }
  
  p {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #212529;
  }
  
  #sidebar ul li.active > a,
  a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
  }
  
  #sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
  }
  
  @media only screen and (max-width: 990px) {
    #sidebar {
      display: none;
    }
  }